@import "../../styles/base/variables";

.container {
	position: relative;
	padding: 40px 0;
	margin-left: 64px;
}

.header {
	color: $hover-color;
	font-size: 24px;
	font-weight: 1000;
	font-style: italic;
}

.button {
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
	background-color: rgba(9, 9, 12, 0.6);
	padding: 18px 10px;
	border-radius: 8px;
	border: 1px solid rgba(255, 255, 255, 0.1);
	cursor: pointer;
}
