$start-color: rgba(242, 244, 82, 1);
$end-color: rgba(180, 253, 100, 1);
$background-color: rgba(9, 9, 12, 1);
$text-color: rgba(255, 255, 255, 1);
$default-color: rgba(186, 186, 186, 1);
$hover-color: #D2F95C;

// Шрифты
$primary-font-family: 'TT Norms Pro', sans-serif;
$secondary-font-family: 'DrukCyr';
$font-size-default: 16px;
$font-size-large: 28px;
